<div class="container">
  <span class="tags">
    <ul lcass="article-tag-list">
      <% site.tags.map(function(tag){  %>
      <li class="article-tag-list-item">
        <a class="article-tag-list-link" href="/tags/<%= tag.name %>" title="<%= tag.name %>">
          <span><%= tag.name %></span>
          <span class="article-tag-list-link-count">(<%= tag.length %>)</span>
        </a>
      </li>
      <% }) %>
    </ul>
  </span>
</div>
