// Colors
color-default = #4f5759
color-title = #222
color-title-hover = #333
color-border = #ddd
color-link = #0064D2
color-link-hover = #00BDFA
color-background = #fff
color-meta = #888
color-footer = #777
color-black-button = #666
color-black-button-hover = #333

@import url("//fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

// Fonts
font-sans = 'PingFang','Microsoft JhengHei','Helvetica','Open Sans','Arial',sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 16px
line-height = 32px
