<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<span class="copyright">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>, theme inspired by <a href="https://github.com/joyceim/hexo-theme-apollo">Apollo</a>
	</span>
</footer>
