<div class="mobile-nav-panel">
	<div class="menu-bar-icon">
		<i class="icon-reorder icon-large"></i>
	</div>
</div>
<header id="header">
	<h1 class="blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<nav class="desktop-nav">
		<ul>
			<li><a href="/about" class="nav-icon icon-about" title="關於我"></a></li>
			<li><a href="/tags" class="nav-icon icon-tags" title="標籤"></a></li>
			<li><a href="/archives" class="nav-icon icon-archive" title="歷史文章"></a></li>
		</ul>
	</nav>
</header>
