<div class="mobile-nav-panel">
	<i class="icon-reorder icon-large"></i>
</div>
<header id="header">
	<h1 class="blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<nav class="desktop-nav">
		<ul>
			<li><a href="/" class="nav-icon icon-home" title="首頁"></a></li>
			<li><a href="/archives" class="nav-icon icon-archive" title="封存"></a></li>
			<li><a href="https://github.com/Asoul" class="nav-icon icon-github" target="_blank" title="Github"></a></li>
			<li><a href="https://www.facebook.com/AsoulYang" class="nav-icon icon-facebook" target="_blank" title="Facebook"></a></li>
			<li><a href="/atom.xml" class="nav-icon icon-rss" title="RSS"></a></li>
		</ul>
	</nav>
</header>
