<nav class="mobile-nav">
		<h3 class="nav-title">Menu</h3>
		<a href="#" class="nav-close">
				<span class="hidden"></span>
		</a>
		<ul>
				<% for (var i in theme.menu){ %><li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
		</ul>
		<% if (theme.rss){ %>
			<a class="subscribe-button" href="<%- theme.rss %>">
				<i class="nav-icon icon-rss"></i>
				<span>Subscribe</span>
			</a>
		<% } %>

</nav>
<span class="nav-cover"></span>
