<nav class="mobile-nav">
		<h3 class="nav-title">Menu</h3>
		<a href="#" class="nav-close">
				<span class="hidden">Close</span>
		</a>
		<ul>
				<% for (var i in theme.menu){ %><li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
				<% if (theme.rss){ %><li><a href="<%- theme.rss %>" id="nav-rss-link" class="nav-icon" title="RSS Feed"></a></li><% } %>
		</ul>
</nav>
<span class="nav-cover"></span>
