#header
  display: block
  margin: 4em 0
  position: relative
  *zoom: 1
  &:after
    display: block
    visibility: hidden
    font-size: 0
    height: 0
    clear: both
    content: "."

.blog-title
  float: left
  display: inline-block
  font-size: 120%
  font-weight: bold
  background-color: #222
  padding-bottom: .2em
  letter-spacing: .2em
  margin: 10px 0
  line-height: 2.5em
  padding: 0 1.3em
  &:hover
    background-color: #333
    a
      color: white
      text-decoration: none
  a
    position: relative
    left: .1em
    padding: .4em 0
    color: white
