#header
  display: block
  margin: 4em 0
  position: relative
  *zoom: 1
  &:after
    display: block
    visibility: hidden
    font-size: 0
    height: 0
    clear: both
    content: "."

.blog-title
  float: left
  display: inline-block
  background-color: #222
  cursor: pointer
  transition: background-color 0.3s ease

  &:hover
    background-color: #444
    a
      color: white
  a
    position: relative
    color: white
    font-weight: bold
    font-size: 20px
    padding: 16px 24px 16px 32px
    line-height: 48px
    letter-spacing: 8px
